<ion-view view-title="About">
    <ion-content class="padding">
        <h1>About me</h1>
        <p>
            My name is Mohamed Bengrich, I am a web developer and graphic designer, from Casablanca Morocco aged 26, I’m a passionate of web technologies, programming and design. I like to experiment, discover and learn along my professional and personal projects realisation. Creative, curious & passionate of latest innovations and design trends and the latest technologies in IT development, dynamic, serious, rigorous and versatile. ready to accompany you in all your web projects, creation and application development.
        </p>
    </ion-content>
</ion-view>
